@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/inter-regular-webfont.woff2") format("woff2"),
        url("/fonts/public/inter-regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src:
        url("/fonts/inter-medium-webfont.woff2") format("woff2"),
        url("/fonts/inter-medium-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 700;
    src:
        url("/fonts/Switzer-Bold.woff2") format("woff2"),
        url("/fonts/Switzer-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 500;
    src:
        url("/fonts/Switzer-Medium.woff2") format("woff2"),
        url("/fonts/Switzer-Medium.woff") format("woff");
    font-display: swap;
}


body {
    font-family: "Inter";
}

html,
body {
    overflow-x: hidden;
}